# Explore here

It's recommended to use this notebook for exploration purposes.

For example: 

1. You could import the CSV generated by python into your notebook and explore it.
2. You could connect to your database using `pandas.read_sql` from this notebook and explore it.

In [17]:
#!pip install git+https://github.com/CristianLazoQuispe/datautils.git

Collecting git+https://github.com/CristianLazoQuispe/datautils.git
  Cloning https://github.com/CristianLazoQuispe/datautils.git to /tmp/pip-req-build-s4g9dxyx
  Running command git clone --filter=blob:none --quiet https://github.com/CristianLazoQuispe/datautils.git /tmp/pip-req-build-s4g9dxyx
  Resolved https://github.com/CristianLazoQuispe/datautils.git to commit 2f5b4933cc2b9b193b46487e674adbd220f3a974
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: datautils
  Building wheel for datautils (setup.py) ... done
  Created wheel for datautils: filename=datautils-0.1demo-py3-none-any.whl size=6241 sha256=34a00352843039068ecc486aa7f2437b3a75d21c1cbcafde5110228fe5bab939
  Stored in directory: /tmp/pip-ephem-wheel-cache-4u1q9i7y/wheels/b9/f7/1e/17cb772869aeed5c1b378069a48ecc9ee25b419d2df39f1d09
  WARNING: Built wheel for datautils is invalid: Metadata 1.2 mandates PEP 440 version, but '0.1demo' is not
Failed to build datautils
Installing collected packages: datautils
  Running setup.py install for datautils ... done
  DEPRECATION: datautils was installed using the legacy 'setup.py install' method, because a wheel could not be built for it. A possible replacement is to fix the wheel build issue reported above. Discussion can be found at https://github.com/pypa/pip/issues/8368
Successfully installed datautils-0.1demo

In [ ]:
# Example reading the SQL database from here

""" from utils import db_connect
import pandas as pd
engine = db_connect()

dataframe = pd.read_sql("Select * from books;", engine)
print(dataframe.describe()) """

In [ ]:
# Example importing the CSV here

# dataframe = pd.read_csv('../path/to/file.csv')
# dataframe.describe()

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
from datautils.analysis import *

In [8]:
df_airbnb = pd.read_csv('../data/raw/AB_NYC_2019.csv')
#

In [9]:
df_airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [11]:
df_airbnb.sample(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
6924,4958223,Beautiful Central Park View,25517905,Andreias,Manhattan,Upper West Side,40.79620,-73.96156,Private room,99,1,277,2019-06-23,5.44,3,294
4647,3258197,Large 1br Duplex in Heart of Upper East Side,16477306,Jeff,Manhattan,Upper East Side,40.76866,-73.95553,Entire home/apt,16,2,21,2019-06-30,1.69,1,9
43300,33571420,DEMETRIO’S ROOM\nClose to JFK and LGA Airport,245710234,Marcelo Y Lucio,Queens,Elmhurst,40.72997,-73.87183,Private room,51,1,20,2019-06-25,6.38,4,365
19710,15784377,"Sixth Ave Chelsea, 1bd Serviced Apartment*",22541573,Ken,Manhattan,Chelsea,40.74584,-73.99103,Entire home/apt,229,30,3,2019-03-08,0.12,87,364
966,385824,New York City- Riverdale Modern two bedrooms unit,1931205,Orit,Bronx,Spuyten Duyvil,40.87991,-73.91673,Entire home/apt,120,2,47,2019-07-03,1.22,1,318

In [12]:
df_airbnb.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [13]:
df_airbnb['id'].nunique()

48895

In [19]:
#numeric_desc, categorical_desc = my_df_describe(df_train,name = 'train',show = False,path=PATH_RESULTS,save=False)
numeric_desc, categorical_desc = my_df_describe(df_airbnb,name = 'airbnb',show = True, save=False)

********************airbnb********************
shape  (48895, 16)
**********numerics**********

,count,mean,std,min,25%,50%,75%,max,unique,nulls,nulls_perc
id,48895.0,1.901714e+07,1.098311e+07,2539.00000,9.471945e+06,1.967728e+07,2.915218e+07,3.648724e+07,48895,0,0.000000
host_id,48895.0,6.762001e+07,7.861097e+07,2438.00000,7.822033e+06,3.079382e+07,1.074344e+08,2.743213e+08,37457,0,0.000000
latitude,48895.0,4.072895e+01,5.453008e-02,40.49979,4.069010e+01,4.072307e+01,4.076311e+01,4.091306e+01,19048,0,0.000000
longitude,48895.0,-7.395217e+01,4.615674e-02,-74.24442,-7.398307e+01,-7.395568e+01,-7.393627e+01,-7.371299e+01,14718,0,0.000000
price,48895.0,1.527207e+02,2.401542e+02,0.00000,6.900000e+01,1.060000e+02,1.750000e+02,1.000000e+04,674,0,0.000000
minimum_nights,48895.0,7.029962e+00,2.051055e+01,1.00000,1.000000e+00,3.000000e+00,5.000000e+00,1.250000e+03,109,0,0.000000
number_of_reviews,48895.0,2.327447e+01,4.455058e+01,0.00000,1.000000e+00,5.000000e+00,2.400000e+01,6.290000e+02,394,0,0.000000
reviews_per_month,38843.0,1.373221e+00,1.680442e+00,0.01000,1.900000e-01,7.200000e-01,2.020000e+00,5.850000e+01,937,10052,0.205583
calculated_host_listings_count,48895.0,7.143982e+00,3.295252e+01,1.00000,1.000000e+00,1.000000e+00,2.000000e+00,3.270000e+02,47,0,0.000000
availability_365,48895.0,1.127813e+02,1.316223e+02,0.00000,0.000000e+00,4.500000e+01,2.270000e+02,3.650000e+02,366,0,0.000000

**********categorical**********

                     count unique              top   freq  nulls  nulls_perc
name                 48879  47905   Hillside Hotel     18     16    0.000327
host_name            48874  11452          Michael    417     21    0.000429
neighbourhood_group  48895      5        Manhattan  21661      0    0.000000
neighbourhood        48895    221     Williamsburg   3920      0    0.000000
room_type            48895      3  Entire home/apt  25409      0    0.000000
last_review          38843   1764       2019-06-23   1413  10052    0.205583